---
# tasks file for php-7.2
- name: yy
  set_fact:
    php_install_dir: "{{ php_source_install_path }}"

- name: 解压php-7.2源码包
  unarchive: src=php-7.2.16.tar.gz dest=/usr/local/src/

- name: 安装依赖包(CentOS)
  package:
    name:
      - libxml2-devel
      - openssl-devel
      - libcurl-devel
      - libjpeg-turbo-devel
      - libpng-devel
      - freetype-devel
      - libicu-devel
      - systemd-devel
    state: present
  when: ansible_os_family == 'RedHat'

- name: 添加用户
  user:
    name: www-data
    uid: 1200

- name: 运行PHP配置脚本
  command: >
    {{ php_source_configure_command }}
    chdir={{ php_source_dir }}


- name: 编译/安装 PHP
  command: >
    {{ item }}
    chdir={{ php_source_dir }}
  with_items:
    - "{{ php_source_make_command }}"
    - make install
  
- name: 生成 php.ini 配置文件
  template:
    src: php-fpm.conf.j2
    dest: "{{ php_source_install_path }}etc/php-fpm.conf"

- name: 生成 php-fpm www.conf 配置文件
  template:
    src: www.conf.j2
    dest: "{{ php_source_install_path }}etc/php-fpm.d/www.conf"

- name: 添加 php-fpm.service
  template:
    src: php-fpm.service.j2
    dest: /usr/lib/systemd/system/php-fpm.service

- name: 设置php-fpm开机启动
  systemd:
    name: php-fpm
    enabled: yes
