[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ nginx_install_dir }}/logs/nginx.pid
ExecStartPre={{ nginx_install_dir }}/sbin/nginx -t
ExecStart={{ nginx_install_dir }}/sbin/nginx
ExecReload={{ nginx_install_dir }}/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
